.git
.github
node_modules
vendor
public/build
public/hot
storage/*.key
storage/app/*
!storage/app/public
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*.php
.env
.env.*
!.env.example
*.log
test-*.cjs
